.App {
  text-align: center;
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

a {
  text-decoration: none;
  color: white;
}

nav {
  margin-bottom: 30px;
}

.title {
  font-size: 5rem;
  margin: 5px;
  text-transform: uppercase;
}

header {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}


