.cardContainer {
    height: 500px;
    width: 340px;
    margin-bottom: 20px;
}

.cardMedia {
    height: 500px;
    width: 340px;
}

.cardTitle {
    background: #03090d;
    font-family: 'Assistant', sans-serif;
}

.titleText {
    color: white;
    font-family: 'Assistant', sans-serif;
    text-transform: uppercase;
}